@use 'variables' as *;

.section-contact {
  background-color: $dark-3;

  .title { color: #fff; }
}

.contact-box {
  flex-direction: column;
  color: #fff;
  line-height: 45pt;

  .logo { margin: 0; }
}

.sns-box {
  a:first-child { padding-right: 10px; }
  a:last-child { padding-left: 10px; }
}

@media screen and (max-width: 500px) {
  .contact-box {
    line-height: 32pt;
    font-size: 0.8rem;
  }
}
