.practice-img__wrap {
  display: flex;
  flex-wrap: wrap;
}

.practice-img__message img {
  width: 358.6666px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
}

@media screen and (max-width: 1156px) {
  .practice-img__wrap {
    justify-content: center;
  }

  .practice-img__message:nth-child(8) {
    display: none;
  }
}

@media screen and (max-width: 776px) {
  .practice-img__message img {
    box-shadow: 0 4px 4px -3px black;
    margin-bottom: 10px;
    border-radius: 15px;
  }
  .practice-img__message:last-child {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .practice-img__message img {
    width: 260px;
  }

  .practice-img__message:last-child {
    display: none;
  }
}
