@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;500;700;900&display=swap");
@import "@/assets/css/reset.css";
@import "@/assets/css/intro.css";
@import "@/assets/css/nav.css";
@import "@/assets/css/about.css";
@import "@/assets/css/project.css";
@import "@/assets/css/cloning.css";
@import "@/assets/css/contact.css";

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.section-wrap {
  height: auto;
  margin: 0 auto;
  max-width: 71.25rem;
  padding: 4rem 2rem;
  width: 100%;
}

.point {
  color: #04c2c9;
}

.flex-set {
  display: flex;
  justify-content: center;
  align-items: center;
}

.font24 {
  font-size: 24px;
}

@media screen and (max-width: 768px) {
  .section-wrap {
    max-width: 71.25rem;
    padding: 3rem 1rem;
  }

  .logo {
  }

  .font24 {
    font-size: 20px;
  }

  .font24 h4 {
    font-size: 15px;
  }
}
