.section-intro {
  height: calc(100vh - 0px);
  position: relative;
  text-align: center;
  color: #fff;
  background: linear-gradient(135deg, #0d1117 0%, #1b242f 60%, #0a1a20 100%);
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.logo {
  margin: 200px 0 60px;
}

.logo img {
  width: 200px;
  height: 100px;
}

.intro-text {
  font-size: 32px;
  line-height: 36pt;
}

.button {
  margin-top: 20px;
  border: 2px solid #fff;
  padding: 15px 30px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.button:hover {
  background-color: #04c2c9;
  border-color: #04c2c9;
}

.quotes {
  margin-top: 250px;
  z-index: 1;
  line-height: 25pt;
}

.quote {
  font-size: 24px;
}

.author {
  font-size: 20px;
  opacity: 0.8;
}

@media screen and (max-width: 600px) {
  .logo img {
    width: 150px;
    height: 75px;
  }

  .intro-text {
    font-size: 20px;
    line-height: 26pt;
  }

  .button {
    margin-top: 10px;
    padding: 15px 20px;
  }

  .quotes {
    /* margin-top: 300px;
    z-index: 1;
    line-height: 25pt; */
  }

  .quote {
    font-size: 13px;
  }

  .author {
    font-size: 14px;
  }
}
